.footer__logo{
    display: inline-block;
    font-family: 'Raleway';
    color: var(--accent-color);
    text-decoration:none;
    font-size: 26px;
    line-height: 1.2; 
}
.footer__logo .studio{
    display: inline-block;
    color: var(--occasional-color);
}
