.footer{
    background-color: var(--header-footer-color);
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container{
    display: flex;
align-items: baseline;
}
.footer__div {
    max-width: 100%;
    margin-left: 70px;
}