
.hero{
    @extend %section;
    background-color:var(--header-footer-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width:1600px;
    padding-bottom: 118px;
    padding-top: 118px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img_mobil@1x.jpg);
  // retina mobile screen
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_mobil@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_table@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_table@2x.jpg);
    }
  }
  @media screen and (min-width: 769px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_desktop@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_desktop@2x.jpg);
    }
  }

    }
 
.hero__title{
    display:block;
    color:var(--occasional-color);
    font-weight: 900;
font-size: 26px;
line-height: 1.36;
text-transform: uppercase;
letter-spacing: 0.06em;
@media screen and (min-width: 768px) {
  width: 360px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
    margin-bottom: 30px;
}
}
.hero__button{
    background-color: var(--accent-color);
    color: var(--occasional-color);
    font-weight: 700;
    width: 216px;
    min-height: 50px;
line-height: 1.87;
margin-top: 30px;
letter-spacing: 0.06em;

&:hover,
&:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  margin-bottom: 0;
}
}