.peculiarities{
    @extend %section;
    background-color: var(--occasional-color) ;
}

.peculiarities__div{
    min-height: 120px;
    background-color:var(--background-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.peculiarities__icon{
    width: 70px;
    height: 70px;
}
.peculiarities__list{

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    
      }
}
.peculiarities__item{
  width: 100%;
    text-align: left;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
      }
}

.peculiarities__title{
    display: inline-block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color:var(--base-color);
width: 100%;
margin-bottom: 10px;
text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.peculiarities__text{
font-size: 14px;
line-height: 1.7;
color:var(--primary-text-color);
}